Source: python-conic
Section: python
Priority: extra
Maintainer: PyMaemo Team <pymaemo-developers@garage.maemo.org>
Build-Depends: cdbs, debhelper (>= 5), python-all-dev, libconic0-dev, libdbus-glib-1-dev, python-gtk2-dev, quilt
XS-Python-Version: all
Standards-Version: 3.7.2

Package: python-conic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
Description: Python bindings for Internet Connectivity library
 Internet Connectivity library (libconic) is for requesting Internet
 connections. It also provides statistics and settings for the current
 connection.
 .
 This package contains the Python bindings for libconic.
